@use "global" as *;

html {
  font-size: 0.7320644217vw; //1rem = 10px
  font-family: "Noto Sans JP", sans-serif;

  @include sp {
    font-size: 2.857142857vw;
  }

  @include ov-pc {
    font-size: 67.5%;
  }
}

body {
  background-color: #f0f0f0;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 8rem;
  margin-bottom: 5rem;

  @include sp {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.8rem;

  @include sp {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

section {
  padding: 5rem 0 8rem;
}

.l-container-fluid {
  width: 85.3587115666vw;
  margin: 0 auto;

  @include sp {
    width: 85vw;
  }
}

.l-container {
  width: 78.0380673499vw;
  margin: 0 auto;

  @include sp {
    width: 85vw;
  }
}

.lineart {
  margin: 5rem 0;
}

.l-section--white {
  background-color: white;
}
