@use "global" as *;

/* header
---------------------------------------------------------------- */

.l-header {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: $color-nanayo;
  z-index: 1;
  color: white;

  &--logo {
    img {
      height: 8rem;
    }
  }

  &__nav {
    width: 95%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
      width: 4rem;
      height: 3rem;
      display: none;
      z-index: 2;

      @include sp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &--bar {
        border: 2px solid white;
        border-radius: 9999px;
      }
    }

    &__list {
      display: flex;

      @include sp {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100vh - 8rem);
        background-color: #0a0a0a;
        opacity: 80%;
        position: absolute;
        top: 8rem;
        right: -100%;
        padding: 20vh 3rem;
      }

      &__item {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 3rem;

        @include sp {
          width: 100%;
          font-size: 2rem;
          text-align: center;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid white;
          margin-left: 0;
          margin-bottom: 3rem;
        }
      }
    }
  }

  .open {
    right: 0;
  }
}

/* kv
---------------------------------------------------------------- */

.p-kv {
  position: relative;

  &--img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    //filter: brightness(75%);

    @include sp {
      height: 90vh;
    }
  }

  &--title {
    width: 95%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px #0a0a0a;
    font-size: 6rem;
    font-weight: bold;

    @include sp {
      font-size: 3rem;
    }
  }
}

/* info
---------------------------------------------------------------- */
#info {
  background-color: white;
}

.p-info {
  display: flex;
  padding: 8rem 0;

  &--h2 {
    width: 10rem;
    writing-mode: vertical-lr;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__item {
      &--date {
        display: block;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }

      &--text {
        font-size: 2rem;
      }
    }
  }

  &--link {
    display: block;
    font-size: 1.4rem;
    margin-top: 3rem;
  }
}

/* guide
--------------------------------------------------------------- */

.p-guide {
  &--img {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__content {
    padding: 3rem 5rem;
    background-color: white;

    &__title {
      display: flex;
      align-items: center;
      height: 6rem;
      margin-bottom: 1.5rem;

      &--icon {
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem;
      }

      &--h3 {
        font-size: 2.4rem;
        font-weight: bold;
        margin-right: 1rem;
      }

      &--en {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    &__block {
      display: flex;

      &__machine,
      &__roof {
        margin-right: 20rem;

        &--title {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        &__list {
          &__item {
            list-style: square;
            margin-left: 1.5rem;
            font-size: 1.6rem;

            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* carwash
--------------------------------------------------------------- */

.p-carwash {
  &__header {
    display: flex;

    &--img {
      width: 80%;
      height: 50rem;
      object-fit: cover;
    }

    &--h2 {
      width: 10rem;
      writing-mode: vertical-rl;
      letter-spacing: 0.5rem;
      margin-left: 8rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__point {
    background-color: #4e403d;
    padding: 5rem 0;
    margin: 8rem 0;

    &__list {
      display: flex;
      justify-content: space-between;

      &__item {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8rem;

        &:not(:last-child) {
          border-right: 2px solid white;
        }

        * {
          color: white;
        }

        &--num {
          position: relative;
          width: 4.5rem;
          height: 4rem;
          font-size: 2.4rem;
          background-color: purple;
          text-align: center;
          line-height: 5rem;
          margin-bottom: 3rem;

          &:after {
            display: block;
            content: "";
            width: 4.5rem;
            border-top: 0;
            border-right: 2.25rem solid transparent;
            border-left: 2.25rem solid transparent;
            border-bottom: 1.5rem solid purple;
            transform: rotateX(180deg);
            position: absolute;
            bottom: -1.4rem;
          }
        }

        &--title {
          text-align: center;
          margin-bottom: 1.5rem;
        }

        &--text {
          text-align: center;
        }
      }
    }
  }

  &__desc {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.6rem;
    margin-bottom: 5rem;
  }
}

/* price
--------------------------------------------------------------- */

.p-price {
  &__header {
    display: flex;

    &--img {
      width: 80%;
      height: 50rem;
      object-fit: cover;
    }

    &--h2 {
      width: 10rem;
      writing-mode: vertical-rl;
      letter-spacing: 0.5rem;
      margin-right: 8rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &--desc {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0;
  }

  &__content {
    &__table {
      width: 100%;
      margin: 0 auto;

      &--row {}

      &--header {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0;
      }

      &--data {
        &__list {
          &__item {
            display: flex;
            align-items: center;
            height: 8rem;

            &--num {
              font-size: 3.6rem;
              padding: 1rem;
              padding-right: 2rem;
            }

            &--title {
              font-size: 1.8rem;
              font-weight: bold;
            }

            &--text {}
          }

          &__cost {
            height: 8rem;

            &--price {
              height: 100%;
              font-size: 2rem;
              text-align: center;
              line-height: 8rem;

              .yen {
                font-size: 1.2rem;
                margin-left: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}

/* p-recommend
--------------------------------------------------------------- */

.p-recommend {

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    &--img {
      width: 15rem;
      aspect-ratio: 1/1;
      margin-right: 2rem;
    }

    &__list {
      &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 3.5rem;
        }

        &--check {
          font-size: 3rem;
          margin-right: 0.8rem;
        }

        &--text {
          font-size: 2.4rem;
        }
      }
    }
  }

  &__dl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &--download {
      display: block;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    &--free {
      display: block;
      text-align: center;
      font-size: 6rem;
    }

    &--arrow {
      display: inline-block;
      content: "";
      border-right: 0;
      border-top: 2rem solid transparent;
      border-bottom: 2rem solid transparent;
      border-left: 2rem solid purple;
    }

    &--qr {
      width: 20rem;
      aspect-ratio: 1/1;
    }
  }
}

/* p-shop
--------------------------------------------------------------- */
.p-shop {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &--img {
      width: calc(50% - 5rem);
      margin-left: 5rem;
      aspect-ratio: 16/10;
    }

    &__desc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--logo {
        width: 100%;
        aspect-ratio: 16/10;
      }

      &--address {
        font-size: 2rem;
        margin-top: 3rem;
      }
    }
  }
}

/* p-contact
--------------------------------------------------------------- */

.p-contact {
  background: #4e403d;

  &--h2 {
    color: white;
  }

  &__form {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &--flex {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &__label {
      color: white;
      width: 30%;
      font-size: 2.4rem;
      font-weight: bold;
    }

    &__input {
      background-color: white;
      width: 70%;
      font-size: 2rem;
      padding: 1.5rem;
    }

    &__area {
      background-color: white;
      width: 70%;
      font-size: 2rem;
      padding: 1rem;
    }
  }
}

/* l-footer
--------------------------------------------------------------- */

.l-footer {
  padding: 3rem 0;

  &--policy {
    display: block;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  &--copyright {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
  }
}